@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&display=swap");
@import "boxicons";

* {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

body {
    background: url(./img/1.jpg) no-repeat fixed;
    background-size: cover;
    transition: 0.5s ease-out;
}


